h1 {
    font-size: 2.7em !important;
}
.white-outline {
    border: 1px solid white; 
    border-radius: .5em;
}
.truncate-multi-line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
}