h1 {
    font-size: 2.7em !important;
}
.white-outline {
    border: 1px solid white; 
    border-radius: .5em;
}
.truncate-multi-line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ff3d00;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1.2s linear infinite; /* Safari */
  animation: spin 1.2s linear infinite;
  margin: 120px auto;
}
.no-show {
  display: none !important;
}
.show {
  display: block !important;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}